@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&family=Rock+Salt&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a[data-fancybox] img {
  cursor: zoom-in;
}

.fancybox__container {
  --fancybox-bg: rgba(17, 6, 25, 0.85);
  grid-template-columns: repeat(5, auto);
  display: grid;
}

.fancybox__container .fancybox__content {
  /*Createwhiteborderaroundtheimage*/box-sizing: content-box;
  padding: 1rem;
  background: #fff;
  border-radius: 10px;
  color: #374151;
  box-shadow: 0 8px 23px rgb(0 0 0 / 50%);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.fancybox__caption {
  max-width: 80%;

  /* Prevent opacity change when dragging up/down */
  --fancybox-opacity: 1;
}


/* Color Theme Swatches in RGBA */
:root{
  --color1: rgba(0, 38, 38, 1); 
  --color2: rgba(3, 191, 172, 1);
  --color3: rgba(2, 140, 126, 1); 
  --color4: rgba(2, 114, 103, 1); 
  --color5: rgba(1, 63, 57, 1);  
}
.main{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
/* Estilos de header */
header{
  display: block;
  background: var(--color5);
  color: var(--color3); 
  padding: 20px 0;
  margin: auto;
  /* position: fixed; */ /* Si queremos el menu fijo en la parte superior */
  left: 0;
  top: 0;
  width: 100%;
}
.header-container{
  width: 85%;
  margin: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
}
header .logo{
  margin-right: auto;
  letter-spacing: 15px;
  font-size: 30px;
  color: var(--color2);
  font-family: 'Dancing Script';
  text-decoration: none;
 
}
header .navigation ul{
  margin-left: auto;
  padding: 0;
  list-style: none;
  margin-left: auto;
}
header ul li{
  float: left;
  display: flex;
  justify-content: flex-end;
}
header ul li a{
  text-decoration: none;
  margin-left: 45px;
  border-radius: 5px;
  font-size: 18px;
  color: var(--color3);
  display: flex;
  justify-content: flex-end;
  padding: 5px;
  transition: all.50s ease;
  -webkit-transition: all.50s ease;
  -moz-transition: all.50s ease;
  -ms-transition: all.50s ease;
  -o-transition: all.50s ease;
}
.navigation ul li a:hover{
  background: var(--color1);
  width: auto;
  transition: all.50s ease;
  transform: translateY(-5px);
  -webkit-transform: translateY(-5px);
  -moz-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  -o-transform: translateY(-5px);
}
.menu-icon{
  display: none;
}

/* Fin estilos header */


.status-msg{
    color: red;
    font-size: 20px;
}
.container {
	width: 85%;
	column-count: 4;
	margin: 0 auto;
}
.upload{
  display: flex;
  justify-content: center;
  align-content: center;
}


/* Estilos de galeria */

.galeria-container{
  border: 4px solid var(--color3);
}

.grid-item img {
	width: 100%;
	height: auto;
	grid-gap: 10px;
}
.img{
  margin-top: 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
@media only screen and (max-width: 768px) {
	.container {
		column-count: 3;
	}
}

@media screen and (max-width: 650px){
  .menu-icon{
    display: block;
    cursor: pointer;
    padding: 0.5rem 1rem;
    margin-top: auto;
  }


.navigation{
    width: 100%;
}

.navigation ul{
    display: none;
}

.navigation ul.show{
    display: block;
    margin-top: 20px;
}


.navigation ul li{
display: block;
width: 100%;
}

.navigation ul li a{
text-align: center;
width: 100%;
display: block;
padding: 0.5rem 1rem;
transition: all 0.4s linear;
border-radius: 5px;
margin-left: 0;
transition: all.50s ease;
}

.navigation ul li a:hover{
background: var(--color3);
}
}

@media only screen and (max-width: 450px) {
	.container {
		column-count: 2;
	}
}